title:            Think Different
description:      An iOS mobile developer's note and life.
reading_time:     true
words_per_minute: 200
# Your site's domain goes here (eg: https://mmistakes.github.io, http://yourdomain.com, etc)
# When testing locally leave blank or use http://localhost:4000
url:              https://xingheng.github.io

# Owner/author information
owner:
  name:           Will Han
  avatar:         avatar.jpg
  bio:            "Play with iOS and all kinds of funny."
  email:          willhan.io@outlook.com
  # Social networking links used in footer. Update and remove as you like.
  twitter:        xingheng907
  facebook:
  github:         xingheng
  stackexchange:  https://stackexchange.com/users/1850375/itachi
  linkedin:
  instagram:
  flickr:
  tumblr:
  # google plus id, include the '+', eg +mmistakes
  google_plus:

# Background image to be tiled on all pages
background:

# Analytics and webmaster tools stuff goes here
# From https://analytics.google.com
google_analytics:   UA-53120540-3
google_verify:      PCP_pxTOjwjhkZiUe6R-_cYbyy4CudzvE8lcmW68ODE
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:

# Share extension
# https://platform.sharethis.com/settings
sharethis_property: 5e6e200bab7d8600129c2623
sharethis_product:  inline-share-buttons

# Comment service
# https://utteranc.es/
utterances:
  repo:             xingheng/xingheng.github.io
  issue_term:       pathname
  label:            utterance
  theme:            github-light
  crossorigin:      anonymous

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    Asia/Chongqing
future:      false  # publish future dated posts --  true, false (default)
highlighter: rouge
markdown:    kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-gist
  - jekyll-feed
sass:
  sass_dir: _sass
  style: compressed

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title/

# Amount of post to show on home page
paginate: 3

kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
  - justfile
